<link href="~/Content/css/footer-style.css" rel="stylesheet" />

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="social col-md-8">
                <ul>
                    <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-lg fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <br />
                <blockquote class="text-right text-muted">Deus te abençoe &copy; beloArte 2017</blockquote>
            </div>
        </div>
    </div>
</footer>
