<style>
    .nav-item {
        font-family: 'Roboto', sans-serif;
    }

</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #fbfafa!important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Pagina/Principal">
            <img src="~/Content/icons/icons-logo/logo-95p57.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Feedback/Mensagem" style="color: black;">Fale Conosco</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;" data-toggle="modal" data-target="#login-modal">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Carrinho/ProdutosAdd" style="color: black;">
                        <img src="~/Content/icons/icons-cart-shop/cart-shop-36p36.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@RenderPage("~/Views/Login/_Login.cshtml");