@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width. initial-scale=1. shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/icons/logo.png" type="image/x-icon" />

    <title>Fale Conosco</title>
</head>
<body>
    @RenderPage("~/Views/_Navbar.cshtml")

</body>
</html>
