@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seja Bem Vindo - beloArte</title>

    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />

</head>
<body>
    @RenderPage("~/Views/_Navbar.cshtml")

    <div class="jumbotron"
         style="margin-bottom: 0px;
        background-image: url(http://www.revistaapolice.com.br/wp-content/uploads/2016/04/Axa-Art-projeta-dobrar-carteira-de-segurados-no-Brasil.jpg);
        background-position: 0% 25%;background-size: cover;background-repeat: no-repeat;color: white;
        text-shadow: black 0.3em 0.3em 0.3em; height: 300px;text-align: center;">
        <div class="container">
            <h4 class="display-4" style="font-weight: 400;">Seja Bem Vindo ao beloArte!</h4>
            <p class="lead" style="font-weight: 600;">Temos os melhores produtos artesanais, com as melhores condições.</p>
            <a href="/Cliente/Cadastrar" class="btn btn-primary btn-lg">Cadastre-se já!</a>
        </div>
    </div>

    <hr style="border-top: 1px solid rgb(255, 255, 255);">
    <!-- Produtos -->
    <div class="container-fluid">

        <!-- Page Features -->
        <div class="row content">
            <div class="col-md-3 sidenav">
                <hr style="margin-top: 0;">
                <div class="panel panel-default col-md-12">
                    <div class="search" style="margin-top: 10%; margin-bottom: 5%;">
                        <label>Filtros</label>
                        <button type="button" class="btn btn-primary" onclick="BuscarProdutos()" style="float: right;">Pesquisar</button>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a style="text-decoration: none; cursor: default;" +="" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="false" aria-controls="collapseOne">
                                        Categorias
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block" style="padding: 5%">
                                    <div class="checkbox">
                                        <label class="favoritos-text">
                                            <input type="checkbox" name="checkbox[]" value="MaisVendidos" checked="" style="margin-right: 7px;">Favoritos
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="recomendados-text">
                                            <input type="checkbox" name="checkbox[]" value="Novos" style="margin-right: 7px;">Novos da Semana
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="decoracao-text">
                                            <input type="checkbox" name="checkbox[]" value="DecoraçãoFesta" style="margin-right: 7px;">Decoração para Festa
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="enfeites-text">
                                            <input type="checkbox" name="checkbox[]" value="enfeites" style="margin-right: 7px;">Enfeites para Casa
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="margin-top:5%">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a style="text-decoration: none; cursor: default;" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="false" aria-controls="collapseTwo">
                                        Preço
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse in show" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block" style="padding:5%">
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-md-12 input-group">
                                            <span class="input-group-addon">R$</span>
                                            <input class="form-control preco" id="precoMin" min="0" type="text" placeholder="min.">
                                        </div>
                                        <div style="border-bottom: 3px solid #4588ba; margin-bottom:10px; margin: 2%"></div>
                                        <div class="col-xs-12 col-md-12 input-group">
                                            <span class="input-group-addon">R$</span>
                                            <input class="form-control preco" id="precoMax" min="0" type="text" placeholder="max.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-9">
                <div class="row text-center">

                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 19.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet. consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 39.90</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Titulo do Produto</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet. consectetur adipisicing elit.</p>
                            </div>
                            <div class="card-footer">
                                <p class="preco-por" style=" font-size: 18px !important; color: #09426f; text-align: right; display: inline-block ">
                                    Por <strong style=" font-weight: 700; color: #3498db; font-size: 19px; ">R$ 49.99</strong>
                                </p>
                                <a href="#" class="btn btn-success btn-sm" style="float: right"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr />

    @RenderPage("~/Views/_Footer.cshtml");

    <!-- /Scripts -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            carregarProdutos();
            
        });

        function carregarProdutos() {
            $.ajax({
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: 'http://beloart.azurewebsites.net/api/product',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }

            });
        }

    </script>

</body>
</html>
