@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seja Bem Vindo - beloArte</title>    

    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    
</head>
<body>
    @RenderPage("~/Views/_Navbar.cshtml")

    <div class="jumbotron" 
         style="margin-bottom: 0px;
        background-image: url(http://www.revistaapolice.com.br/wp-content/uploads/2016/04/Axa-Art-projeta-dobrar-carteira-de-segurados-no-Brasil.jpg);
        background-position: 0% 25%;background-size: cover;background-repeat: no-repeat;color: white;
        text-shadow: black 0.3em 0.3em 0.3em; height: 430px;padding-top: 8%; text-align: center;">
        <div class="container">
            <h4 class="display-4" style="font-weight: 400;">Seja Bem Vindo ao beloArte!</h4>
            <p class="lead" style="font-weight: 600;">Temos os melhores produtos artesanais, e com as melhores condições.</p>
            <a href="#" class="btn btn-primary btn-lg">Sabia mais!</a>
        </div>
    </div>

    <hr />
    <!-- Page Content -->
    <div class="container">

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Titulo do Produto</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Titulo do Produto</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Titulo do Produto</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">                        
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Titulo do Produto</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    @RenderPage("~/Views/_Footer.cshtml")

    <!-- /Scripts -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
